@model IEnumerable<FirstMVC.Models.Characters>
@{
    ViewData["Title"] = "Characters";
}
<h1>Characters</h1>
<p>
    <a asp-area="Admin" asp-controller="Character" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CharacterID</td>
            <td>@item.Name</td>
            <td>@item.Role</td>
            <td>@item.Description</td>
            <td class="text-end">
                <a asp-area="Admin" asp-controller="Character" asp-action="Details" asp-route-id="@item.CharacterID" class="btn btn-sm btn-secondary">Details</a>
                <a asp-area="Admin" asp-controller="Character" asp-action="Edit" asp-route-id="@item.CharacterID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-area="Admin" asp-controller="Character" asp-action="Delete" asp-route-id="@item.CharacterID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
